{% extends "base.html" %}
{% block title %}Collaboration{% endblock %}
{% block body %}
    {% filter markdown %}
I have a goal and I look to collaborate with other people to accomplish that goal.

# What do I want to do?

The goal is to create an application that allows to automate creating applications (or at least increase improve the speed at which those applications are created).

I also want to create a new governance system that is better than the commonly used governance systems and I want the project to be governened by that system at some point.

# What can I offer in exchange for help?

I can offer:

1. Money.
2. Equity/share.
3. The power to decide about the project.
4. Credit attribution.

# What do I need?

1. Money.
2. Execution of ideas (mainly, programming at this point).
3. Ideas (how to improve the product/products).
4. Decision-making.

The first two are currently the bottleneck (so they are more important at this stage).

# How to collaborate

If you want to collaborate, then email me to acoder2@outlook.com. In the email, include the information about how you want to contribute and what you want in return.

If you want to contribute by programming, then I need to tell you how things are going to work (disclose my ideas). That is a cost, so I'm limiting the number of people who can contribute to the project.

Currently, I'm looking for one person who will help me with programming of the new application.

The requirements are as follows:

1. The person must get at least 10 points at the below programming tasks and other requirements (send me the solution of the tasks to acoder2@outlook.com) - because I want to select a person who is capable of programming and who is willing to spend some time on working on the project (if a person has solved the task, then it means that they are capable and that they are willing to sacrifice some time).
2. The person must be willing to sign a non-disclosure agreement that will forbid to disclose the ideas - because the ideas gives us a competitive advantage that allows us to get fairly rewarded for our contribution.

I will choose one person to join me (if anyone applies and meets the basic requirements above). It will be the person who at 6th March will have the highest number of points. You can get the points by solving the below tasks (and sending me the solutions).

The programming tasks are as follows:

1. Write a Python function that given a code of a Python function (as a string), returns the type of the returned value of the given function. You can assume that the declaration of the given function contains type annotations (that task is for 5 points).
2. Write a Python function that given a code in some programming language, returns the name of the programming language in which the code is written. The code can be in C++, Python, JavaScript, PHP or GoLang. The solution doesn't need to have 100% accuracy, but the better the accuracy, the more points you will get (you can get from 0 to 15 point for that task, depending on the accuracy).
3. Write a Python function that given a name of a Python package (e.g. "requests") and a Python code, finds all names of the functions, methods or classes from that package that are used in the code. You can assume that the package is imported in the code like this: "import [name of the package]" (e.g. "import requests"). So for example if the package is "requests" and the code contains "requests.post(...)", then it should find a name "post" (that task is for 5 points).

The solution must be a code in Python that obeys the PEP 8 (style guide for Python code). The points are only admitted if the solution obeys the style guide.

If you have any questions about the tasks, feel free to email me at acoder2@outlook.com.

You can get additional 8 points for a willingness to sign a non-compete agreement that will forbid working at projects (companies) that might compete with Acoder for users (for the next 4 years). If you are willing to sign an agreement like that, then include that information in the email.

You can also get 12 additional points for meeting a certain hidden requirement that I can't disclose.

It is allowed to use Acoder (or other code generation tools) in the process of solving the above tasks.
    {% endfilter %}
{% endblock %}
