{% extends "base.html" %}
{% block title %}Collaboration{% endblock %}
{% block body %}
    {% filter markdown %}
I have a goal and I look to collaborate with other people to accomplish that goal.

# What do I want to do?

The goal is to create an application that allows to automate creating applications (or at least increase improve the speed at which those applications are created).

I also want to create a new governance system that is better than the commonly used governance systems and I want the project to be governened by that system at some point.

# What can I offer in exchange for help?

I can offer:

1. Money.
2. Equity/share.
3. The power to decide about the project.
4. Credit attribution.

# What do I need?

1. Money.
2. Execution of ideas (mainly, programming at this point).
3. Ideas.
4. Decision-making.

The first two are currently the bottleneck (so they are more important at this stage).

# How to collaborate

If you want to collaborate, then email me to acoder2@outlook.com. In the email, include the information about how you want to contribute and what you want in return.
    {% endfilter %}
{% endblock %}
