{% extends "base.html" %}
{% block title %}Acoder{% endblock %}
{% block body %}
<p>Acoder is a console application for increasing programmer's productivity by generating code using artificial intelligence (powered by GPT-3 from OpenAI).</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/g4sn5NW9kKA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h1>Installation</h1>

<h2>Linux</h2>
<p>Run:</p>
<code>sudo wget -O /usr/bin/acoder https://acoder.herokuapp.com/static/acoder/acoder_1.0.0
sudo chmod 777 /usr/bin/acoder
</code>
<p>Come back to this website a week after to see if there's a newer version (the current version is 1.0.0).</p>

<h2>MacOS And Windows</h2>
<p>Currently, the application is only available on Linux. Check this page on Sunday. If on Sunday it's still not available, then check this page week after.</p>

<h1>Usage</h1>

<p>This playlist demonstrates the Acoder features: <a href="https://www.youtube.com/playlist?list=PLuIB42JX5rHDKigkWbzwAiacRf5mFBeAa">Learn about Acoder</a>.</p>

<p>Before you can use Acoder, you will need to sign up on this website (the sign-up process is super quick). After you sign up, you can see an API key which you need to provide to the application (only when you use Acoder for the first time) using the following command:</p>
<code>acoder configure [your API key here]</code>
<p>After that run:</p>
<code>acoder template</code>
<p>This will generate template file "task.md". Open that file and fill the file according to the instructions inside the file.</p>
<p>After that run:</p>
<code>acoder solve</code>
<p>Acoder will display a proposition of changes to the code which you can then accept or reject (or try again).</p>
<p>If you want you can simply run:</p>
<code>acoder</code>
<p>and then follow the instructions.</p>

{% endblock %}

<h1>Questions? Thoughts?</h1>

<p>Contact me on acoder2@outlook.com</p>

<p>If you'd like to invest or contribute (and be financially rewarded for it), then contact me on that email and I'll send you an email back when I will be ready to receive an investment or contribution.</p>