{% extends "base.html" %}
{% block title %}Progress{% endblock %}
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block body %}
    <p>Hello YC people.</p>
    <p>
        This page exists so that you can learn about the progress since the time when I sent the application to YCombinator.
    </p>
    <p>
        You can learn more about the current progress here: <a href="/progress">Progress</a>.
    </p>
    <p>
        Additionally, I recently had a conversation with patent attorneys in order to receive an opinion about patentability of my method (the method which my application will be based on). The opinion of the patent attorneys was that my method is most likely patentable (within United States).
    </p>
{% endblock %}